@media (min-width: 768px) {
  body {
    grid-template-rows: 1fr 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .inputs-top {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .clocks {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .visualisation {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .conditions {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
@media (max-width: 767px) {
  body {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .inputs-top {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .clocks {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .visualisation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .conditions {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  /*TODO add mobile styles*/
}
body {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.inputs-top {
  background: #eee;
}
.clocks {
  background: #bebebe;
  z-index: 99999;
}
.visualisation {
  background: #009;
}
.conditions {
  background: #090;
}